services:
  # app:
  #   ports:
  #     - "80:3000"
  db:
    ports:
      - "5432:5432"

  kubo:
    ports:
      - "127.0.0.1:5001:5001"

  redis:
    ports:
      - "6379:6379"
  pgadmin:
    ports:
      - "5050:80"

  elasticsearch:
    environment:
      discovery.type: single-node
    ports:
      - "9200:9200"

  kibana:
    ports:
      - "5601:5601"
