@import "tailwindcss";
@import "@nuxt/ui";

#__layout,
#__nuxt,
body,
html {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%
}

#__nuxt,
:root,
body {
  height: 100%;
}

:root {
  --mw-background: 25 26 28;
  --mw-status-yellow: 218 117 0;
  --mw-status-red: 255 64 64;
  --mw-status-purple: 125 64 255;
}

.dark {
  --mw-accent: 44 44 44;
  --mw-accent-10: 61 61 61;
  --mw-accent-20: 79 79 79;
}

:root {
  --top-margin: .5rem;
  --side-margin: 1rem;
  --bottom-margin: 2rem;
  --navbar-height: 3.5rem;
  --bottom-nav-height: 0px;
  --bottom-nav-padding: env(safe-area-inset-bottom, 16px);
  --bottom-nav-area: calc(var(--bottom-nav-padding) + var(--bottom-nav-height));
  --banner-height: 13.5rem;
  --banner-filter: none;
  --banner-overlay-gradient: none;
  --drawer-menu-width: 256px;
  --drawer-menu-min-width: 256px;
  --drawer-profile-width: 320px;
  --drawer-profile-min-width: 256px;
  --drawer-reader-width: 312px;
  --drawer-reader-min-width: 256px;
}

body {
  line-height: inherit;
  margin: 0;
}

@media (any-pointer: fine) and (min-width: 640px) {
  body {
    overflow-y: scroll !important;
  }
}

.bg-accent {
  background-color: rgb(var(--mw-accent));
}

.mw-content>* {
  margin-bottom: 2rem;
  margin-bottom: calc(var(--bottom-nav-area) + var(--bottom-margin));
  margin-top: 0;
  margin-top: var(--top-margin);
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width: 100%;
}

.page-container.wide {
  max-width: 1440px;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}