@import "tailwindcss";
@import "@nuxt/ui";

#__layout,
#__nuxt,
body,
html {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

#__nuxt,
:root,
body {
  height: 100%;
}

:root {
  --mw-background: 15 23 43;
  --mw-status-yellow: 218 117 0;
  --mw-status-red: 255 64 64;
  --mw-status-purple: 125 64 255;
  --mw-status-blue: 0 201 245;
}

.dark {
  --mw-accent: 29 41 61;
  --mw-accent-hover: 29 41 55;
  --mw-accent-active: 29 41 50;
  --mw-accent-10: 53 62 80;
  --mw-accent-10-hover: 53 62 72;
  --mw-accent-10-active: 53 62 65;
  --mw-accent-20: 76 84 100;
  --mw-accent-20-hover: 76 84 90;
  --mw-accent-20-active: 76 84 80;
  --mw-contrast-1: var(--ui-color-neutral-200);
}

:root {
  --top-margin: 0.5rem;
  --side-margin: 1rem;
  --bottom-margin: 2rem;
  --navbar-height: 3.5rem;
  --bottom-nav-height: 0px;
  --bottom-nav-padding: env(safe-area-inset-bottom, 16px);
  --bottom-nav-area: calc(var(--bottom-nav-padding) + var(--bottom-nav-height));
  --banner-height: 13.5rem;
  --banner-filter: none;
  --banner-overlay-gradient: none;
  --drawer-menu-width: 256px;
  --drawer-menu-min-width: 256px;
  --drawer-profile-width: 320px;
  --drawer-profile-min-width: 256px;
  --drawer-reader-width: 312px;
  --drawer-reader-min-width: 256px;
}

body {
  line-height: inherit;
  margin: 0;
}

@media (any-pointer: fine) and (min-width: 640px) {
  body {
    overflow-y: scroll !important;
  }
}

.bg-accent {
  background-color: rgb(var(--mw-accent));
}

.bg-status-yellow {
  background-color: rgb(var(--mw-status-yellow));
}

.bg-status-red {
  background-color: rgb(var(--mw-status-red));
}

.bg-status-purple {
  background-color: rgb(var(--mw-status-purple));
}
